<!-- One -->
<section id="one" class="wrapper style1 special">
	<div class="inner">
		<header class="major">
			<h2>Providing The Best Academic Service</h2>
			<p>Aliquam ut ex ut augue consectetur interdum. Donec amet imperdiet eleifend<br />
				fringilla tincidunt. Nullam dui leo Aenean mi ligula, rhoncus ullamcorper.</p>
		</header>
		<ul class="icons major">
			<li>
				<span class="icon fa-hands-helping major style1"><span class="label">Lorem</span></span>
			</li>
			<li>
				<span class="icon fa-user-clock major style2"><span class="label">Ipsum</span></span>
			</li>
			<li>
				<span class="icon fa-glasses major style3"><span class="label">Dolor</span></span>
			</li>
		</ul>
	</div>
</section>