<!-- Three -->
<section id="three" class="wrapper style3 special">
	<div class="inner">
		<header class="major">
			<h2>Why choose us?</h2>
			<p>Aliquam ut ex ut augue consectetur interdum. Donec amet imperdiet eleifend
				<br /> fringilla tincidunt. Nullam dui leo Aenean mi ligula, rhoncus ullamcorper.
			</p>
		</header>
		<ul class="features">
			<li class="icon fa-hands-helping">
				<h3>One-to-One Tuition</h3>
				<p>
					Your aim is our focus. We provide a bespoke, research-driven tuition service.
					Whatever your learning needs are, we take pride in understanding your learning style
					and help you achieve your full potential in exams and assessments.
				</p>
			</li>
			<li class="icon fa-user-clock">
				<h3>Proofreading</h3>
				<p>
					We understand the growing demands of assessments. Our experts provide tailored proofreading and
					editing services, whether it be a short essay or a dissertation. We have got your back!
				</p>
			</li>
			<li class="icon fa-glasses">
				<h3>Interview Prep</h3>
				<p>
					Interviews are daunting. Let us help you to de-construct the fear behind interviews. Our systemic
					and proven approach is 100% effective and has received countless positive customer feedback.
				</p>
			</li>
			<li class="icon fa-signal">
				<h3>Career Advice</h3>
				<p>
					Your career deserves the right guidance. We team up with hundreds of industry experts to provide
					career advice and guidance to all students. Your bright future deserves the right advice. Contact us
					for a free career-assessment.
				</p>
			</li>
		</ul>
	</div>
</section>